@model List<ClientMDA.ViewModels.CCommentViewModel>
@{
    ViewData["Title"] = "Default"; @*電影評論list*@
}

@{
    <div class="col-lg-11 col-md-8">
        <!-- #region 電影評論 -->
        <div class="anime__details__review">
            <div class="section-title">
                <h5>共 @Model.Count 則 電影評論</h5>
            </div>

            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="anime__review__item">
                    <div class="anime__review__item__pic">
                        @if (Model[i].會員照片image != null)
                        {
                            <img class="memImg-Circle" src="http://192.168.36.4:44383/images/Member/@Model[i].會員照片image" alt="" />
                        }
                        else
                        {
                            <img class="memImg-Circle" src="~/images/Member/MEMBER.png" alt="" />
                            @*會員預設大頭貼 https://dummyimage.com/150x150/6c757d/dee2e6.jpg *@
                        }
                    </div>
                    <div class="anime__review__item__text">
                        <h6>
                            <a href="@Url.Action("會員評論","Comment", new {id= Model[i].會員編號memberId})">@Model[i].暱稱nickName - </a>
                            <span>@Html.DisplayFor(modelItem => Model[i].發佈時間commentTime)</span>
                            <span class="mem_rate" style="color: #ffc107;">
                                <i class="fa fa-star"></i> @Model[i].評分rate
                            </span>
                        </h6>
                        <h5>@Model[i].評論標題commentTitle</h5><br />
                        <p class="mComment-text">@Model[i].評論內容comments</p><br />
                        <a href="@Url.Action("電影評論", "Comment", new { id = Model[i].評論編號commentId})"><span class="see-more">繼續閱讀 >> </span></a>
                    </div>
                </div>
            }

            @if (@Model.Count == 0)
            {
                <h4></h4>
                <a href="/Member/Login"><h4 style="text-align:center;font-weight:400">目前沒有評論 快來留下你的想法~</h4></a>
            }
            else
            {

            }

            <!-- #region 評論分頁 -->
            @*<nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>*@
            <!-- #endregion 評論分頁 -->
        </div>
        <!-- #endregion 電影資訊 -->
    </div>
}

<script>

</script>
